@font-face {
  font-family: mayangsari;
  src: url("Mayangsari.ttf");
}
ul {
  list-style: none;
}
li {
  color: #6d7375;
  padding-bottom: 10px;
}
h2,
h3 {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  color: #538599;
}
h1 {
  font-size: 65px;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10;
  padding-right: 10;
  color: #727272;
  text-align: center;
/* height: 87px; */
}
h2 {
  font-weight: 200;
}
h3 {
  font-size: 22px;
}
p {
  margin: auto;
  font-family: fantasy;
}
.container {
  margin: auto;
  overflow: visible;
  height: auto;
  width: 630;
  border: 1px transparent;
  box-shadow: 0px 0px 15px 2px #bdbdbd;
  border-radius: 23px;
}
.dropdown {
/* margin: 6px 0 0 150px; */
  text-align: center;
  height: 20;
  float: left;
  z-index: 100;
}
.fetch {
  opacity: 0;
  float: right;
  margin-right: 75px;
  z-index: -1;
  -moz-box-shadow: inset 0px 1px 0px 0px #fff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
  box-shadow: inset 0px 1px 0px 0px #fff;
  background-color: #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666;
  font-family: arial;
  font-size: 12px;
/* font-weight:bold; */
  padding: 1px 21px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fff;
  transition: margin-right 0.7s ease-in-out, opacity 0.7s ease-in-out, z-index 0.8s ease-in-out;
}
.showfetch {
  opacity: 1;
  margin-right: 0;
  z-index: 0;
  transition: margin-right 0.7s ease-in-out, opacity 0.9s ease-in-out, z-index 0.7s ease-in-out,;
  margin-top: 0.7s ease-in-out;
}
.weatherbox {
  display: none;
  float: left;
  height: 350px;
  width: 630px;
/* border: 2px solid #CA7171; */
  border-radius: 17px;
/* overflow: auto; */
  background: #ececec;
/* box-shadow: 0px 0px 3px 2px #dbdbdb; */
}
.headerbox {
  height: 100px;
  border-bottom: 2px solid #ca7171;
}
.logo {
  float: left;
  margin: 10px 0 10px 0;
/* border-right: 2px solid #CA7171; */
  height: 81px;
  width: 133px;
}
.title {
  float: right;
  margin: 39px 58px 0 0;
}
.iller {
  position: absolute;
  width: 150px;
  display: block;
}
.city {
  float: left;
  margin: 10px 0px 10px 10px;
  padding: 10px 10px 0px 5;
  width: auto;
  height: 40px;
/* border-right: 2px solid #CA7171; */
}
.citybox {
  float: left;
  height: 70px;
  width: inherit;
  border-bottom: 2px solid #ca7171;
}
.coordinates {
  width: auto;
  height: 70px;
  float: left;
  padding-left: 11;
}
.buttonsContainer {
/* float: left; */
  width: 630;
  height: 38px;
  background: linear-gradient(#ca7171, #ff9393);
  box-shadow: 0px 0px 3px 2px #dbdbdb;
  z-index: -1;
  border-radius: 13px;
}
.buttons {
  width: 340px;
  height: 35px;
  padding-top: 6;
  margin: auto;
}
.forecastbox {
  float: left;
  height: 177px;
  width: 600px;
}
.temperature {
  width: 204px;
  height: 155px;
  margin: 11px 0 0 0;
  float: left;
  border-right: 2px solid #ca7171;
}
.coordinates ul {
  float: left;
  padding-left: 4px;
  padding-right: 15px;
}
.coordinates li {
  padding-bottom: 5px;
}
.others {
  height: 177px;
  width: auto;
  float: left;
}
.others ul {
  padding-left: 25px;
  font-size: 14px;
  padding-top: 24px;
}
.blue {
  transition: color 0.5s ease 0.5s;
  color: #538599;
}
.red {
  transition: color 0.5s ease 0.5s;
  color: #f00;
}
#test {
  margin-top: 50px;
}
