.tt-dropdown-menu {
  position: absolute;
  overflow: visible;
  width: 144px;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
  z-index: 100;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px 0px 12px;
  clear: both;
  width: 90px;
  font-weight: normal;
  line-height: 1.428571429;
  color: #727272;
  white-space: nowrap;
  font-family: arial;
  text-align: left;
  margin: 0 0 0 1px;
}
.tt-suggestion {
  height: auto;
}
.tt-suggestion.tt-cursor p {
  color: #fff;
  text-align: left;
  text-decoration: none;
  width: 110px;
  outline: 0;
  background-color: #428bca;
}
.tt-highlight {
  font-weight: 20000;
}

.tt-hint {
  color: #9c9c9c;
}