.tt-dropdown-menu
  position: absolute
  overflow: visible
  width: 144px
  top: 100%
  left: 0
  z-index: 1000
  display: none
  float: left
  padding: 5px 0
  margin: 2px 0 0
  list-style: none
  font-size: 13px
  background-color: #ffffff
  border: 1px solid #cccccc
  border: 1px solid rgba(0, 0, 0, 0.15)
  border-radius: 4px
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
  background-clip: padding-box
  z-index: 100

.tt-suggestion > p
  display: block
  padding: 3px 20px
  clear: both
  width: 90px
  font-weight: normal
  line-height: 1.428571429
  color: #333333
  white-space: nowrap
  font-family arial
  margin-right 30px
    
.tt-suggestion
  height auto

// .tt-suggestion > p:hover
// .tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p
  color: #ffffff
  text-decoration: none
  width: 90px
  outline: 0
  background-color: #428bca

.tt-highlight
  font-weight 20000
  // color #000000
